{% extends 'base.html.twig' %}

{% block title %}My Chats{% endblock %}

{% block body %}
    <h1>My Chats</h1>

    <ul>
        {% for chat in chats %}
            <li class="notif2">
                Chat with
                <a href="{{ path('app_chat_view', {'id': chat.id}) }}">
                    {% for user in chat.users %}
                        {% if user.id != app.user.id %}
                            {{ user.email }}
                        {% endif %}
                    {% endfor %}
                </a>
                {# <span>{{ chat.getUnreadMessagesCount(app.user) }}</span> #}
            </li>
        {% endfor %}
    </ul>
    <style>
        .notif2 {
            display: flex;
            gap: 10px;
        }
        .notif2 span {
            height: 20px;
            width: 20px;
            background-color: red;
            color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }
    </style>
{% endblock %}